In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("ex1.csv")

In [3]:
# single colom series     1 d
# multi colom data frame  2 d

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df.shape

(3, 5)

In [7]:
df.b

0     2
1     6
2    10
Name: b, dtype: int64

In [8]:
print(type(df.b))

<class 'pandas.core.series.Series'>

In [9]:
df[["a","d"]]

   a   d
0  1   4
1  5   8
2  9  12

In [10]:
type(df[["a","d"]])

pandas.core.frame.DataFrame

In [11]:
df[["c","message"]]

    c message
0   3   hello
1   7   world
2  11     foo

In [12]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   a        3 non-null      int64
 1   b        3 non-null      int64
 2   c        3 non-null      int64
 3   d        3 non-null      int64
 4   message  3 non-null      object
dtypes: int64(4), object(1)
memory usage: 248.0+ bytes

In [14]:
df[["a","c","message"]]

   a   c message
0  1   3   hello
1  5   7   world
2  9  11     foo

In [15]:
#csv = coma seprated value 
#tsv = tab seprated value

In [16]:
df1=pd.read_table("test.tsv")
df1

       test0  test1  test2  test3  test4
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [17]:
pd.read_table("ex1.csv",sep=",")    #sep= seprate value when , comes.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
df2=pd.read_csv("ex2.csv",header=None,names=["c1","c2","c3","c4","c5"])
df2

   c1  c2  c3  c4     c5
0   1   2   3   4  hello
1   5   6   7   8  world
2   9  10  11  12    foo

In [19]:
df2[["c1","c4"]]

   c1  c4
0   1   4
1   5   8
2   9  12

In [20]:
type(df2["c5"])

pandas.core.series.Series

In [21]:
type(df2)

pandas.core.frame.DataFrame

In [22]:
df3=pd.read_csv("csv_mindex.csv")
df3

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [23]:
df3=pd.read_csv("csv_mindex.csv",index_col=["key1"])
df3

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [24]:
df3=pd.read_csv("csv_mindex.csv",index_col=["key1","key2"])
df3

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [25]:
df3["value1"]

key1  key2
one   a        1
      b        3
      c        5
      d        7
two   a        9
      b       11
      c       13
      d       15
Name: value1, dtype: int64

In [26]:
df4=pd.read_html("https://www.espn.in/soccer/table/_/league/eng.1")
df4

[                       2022-2023
 0                    1ARSArsenal
 1            2MNCManchester City
 2          3TOTTottenham Hotspur
 3     4BHABrighton & Hove Albion
 4                    5CHEChelsea
 5          6MANManchester United
 6           7NEWNewcastle United
 7                     8FULFulham
 8                  9LIVLiverpool
 9                 10BREBrentford
 10                  11EVEEverton
 11             12LEELeeds United
 12          13BOUAFC Bournemouth
 13              14AVLAston Villa
 14          15WHUWest Ham United
 15              16SOUSouthampton
 16           17CRYCrystal Palace
 17  18WOLWolverhampton Wanderers
 18        19FORNottingham Forest
 19           20LEILeicester City,
     GP  W  D  L   F   A  GD   P
 0    8  7  0  1  20   8  12  21
 1    8  6  2  0  29   9  20  20
 2    8  5  2  1  19  10   9  17
 3    7  4  2  1  14   8   6  14
 4    7  4  1  2  10  10   0  13
 5    7  4  0  3  11  14  -3  12
 6    8  2  5  1  12   8   4  11
 7    8  3  2  3  13  15  -2  11
 8    7  2  4  1  18   9   9  10
 9    8  2  4  2  15  12   3  10
 10   8  2  4  2   7   7   0  10
 11   7  2  3  2  10  10   0   9
 12   8  2  3  3   6  19 -13   9
 13   8  2  2  4   6  10  -4   8
 14   8  2  1  5   5   9  -4   7
 15   8  2  1  5   8  13  -5   7
 16   7  1  3  3   8  11  -3   6
 17   8  1  3  4   3   9  -6   6
 18   7  1  1  5   6  17 -11   4
 19   7  0  1  6  10  22 -12   1]

In [27]:
type(df4)

list

In [28]:
df4[0]

                       2022-2023
0                    1ARSArsenal
1            2MNCManchester City
2          3TOTTottenham Hotspur
3     4BHABrighton & Hove Albion
4                    5CHEChelsea
5          6MANManchester United
6           7NEWNewcastle United
7                     8FULFulham
8                  9LIVLiverpool
9                 10BREBrentford
10                  11EVEEverton
11             12LEELeeds United
12          13BOUAFC Bournemouth
13              14AVLAston Villa
14          15WHUWest Ham United
15              16SOUSouthampton
16           17CRYCrystal Palace
17  18WOLWolverhampton Wanderers
18        19FORNottingham Forest
19           20LEILeicester City

In [29]:
df4[1]

    GP  W  D  L   F   A  GD   P
0    8  7  0  1  20   8  12  21
1    8  6  2  0  29   9  20  20
2    8  5  2  1  19  10   9  17
3    7  4  2  1  14   8   6  14
4    7  4  1  2  10  10   0  13
5    7  4  0  3  11  14  -3  12
6    8  2  5  1  12   8   4  11
7    8  3  2  3  13  15  -2  11
8    7  2  4  1  18   9   9  10
9    8  2  4  2  15  12   3  10
10   8  2  4  2   7   7   0  10
11   7  2  3  2  10  10   0   9
12   8  2  3  3   6  19 -13   9
13   8  2  2  4   6  10  -4   8
14   8  2  1  5   5   9  -4   7
15   8  2  1  5   8  13  -5   7
16   7  1  3  3   8  11  -3   6
17   8  1  3  4   3   9  -6   6
18   7  1  1  5   6  17 -11   4
19   7  0  1  6  10  22 -12   1

In [30]:
df4=pd.concat([df4[0],df4[1]],axis=1)

In [31]:
df4

                       2022-2023  GP  W  D  L   F   A  GD   P
0                    1ARSArsenal   8  7  0  1  20   8  12  21
1            2MNCManchester City   8  6  2  0  29   9  20  20
2          3TOTTottenham Hotspur   8  5  2  1  19  10   9  17
3     4BHABrighton & Hove Albion   7  4  2  1  14   8   6  14
4                    5CHEChelsea   7  4  1  2  10  10   0  13
5          6MANManchester United   7  4  0  3  11  14  -3  12
6           7NEWNewcastle United   8  2  5  1  12   8   4  11
7                     8FULFulham   8  3  2  3  13  15  -2  11
8                  9LIVLiverpool   7  2  4  1  18   9   9  10
9                 10BREBrentford   8  2  4  2  15  12   3  10
10                  11EVEEverton   8  2  4  2   7   7   0  10
11             12LEELeeds United   7  2  3  2  10  10   0   9
12          13BOUAFC Bournemouth   8  2  3  3   6  19 -13   9
13              14AVLAston Villa   8  2  2  4   6  10  -4   8
14          15WHUWest Ham United   8  2  1  5   5   9  -4   7
15              16SOUSouthampton   8  2  1  5   8  13  -5   7
16           17CRYCrystal Palace   7  1  3  3   8  11  -3   6
17  18WOLWolverhampton Wanderers   8  1  3  4   3   9  -6   6
18        19FORNottingham Forest   7  1  1  5   6  17 -11   4
19           20LEILeicester City   7  0  1  6  10  22 -12   1

In [32]:
df4.F

0     20
1     29
2     19
3     14
4     10
5     11
6     12
7     13
8     18
9     15
10     7
11    10
12     6
13     6
14     5
15     8
16     8
17     3
18     6
19    10
Name: F, dtype: int64

In [33]:
df5=pd.read_csv("ex4.csv")
df5

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [34]:
df5=pd.read_csv("ex4.csv",skiprows=[0,2,3])
df5

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [35]:
df6=pd.read_csv("ex5.csv")
df6

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
type(df6)

pandas.core.frame.DataFrame

In [37]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   something  3 non-null      object
 1   a          3 non-null      int64
 2   b          3 non-null      int64
 3   c          2 non-null      float64
 4   d          3 non-null      int64
 5   message    2 non-null      object
dtypes: float64(1), int64(3), object(2)
memory usage: 272.0+ bytes

In [38]:
df6.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [39]:
df6.isnull().sum()

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [40]:
df6.isnull().sum().sum()

2

In [41]:
df7= pd.read_csv("ex6.csv")
df7

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [42]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     10000 non-null  float64
 1   two     10000 non-null  float64
 2   three   10000 non-null  float64
 3   four    10000 non-null  float64
 4   key     10000 non-null  object
dtypes: float64(4), object(1)
memory usage: 390.8+ KB

In [43]:
df7.head(8)     # maximum limit is 60

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K

In [44]:
df7.tail(8)

           one       two     three      four key
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

In [45]:
df7.isna().sum()

one      0
two      0
three    0
four     0
key      0
dtype: int64

In [46]:
pd.set_option("display.max_rows",None)

In [47]:
# df7=pd.read_csv("ex6.csv")
# df7

In [130]:
df8=pd.read_csv("out.csv")    # for reading file
df8

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [134]:
df8=pd.read_csv("out.csv",index_col=[0])   # for choosing index
df8

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [50]:
df8.isnull().sum() # for seeking missing value

something    0
a            0
b            0
c            1
d            0
message      1
dtype: int64

In [51]:
d = {"Name":["a","b","c","d","e","f","g","h"],"Age":[10,20,30,40,50,60,70,80],"Marks":[12,13,67,55,99,34,98,70],"Gender":["M","f","m","f","f","f","m","f"]}
print(type(d))

<class 'dict'>

In [52]:
df=d

In [53]:
df

{'Name': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 'Age': [10, 20, 30, 40, 50, 60, 70, 80],
 'Marks': [12, 13, 67, 55, 99, 34, 98, 70],
 'Gender': ['M', 'f', 'm', 'f', 'f', 'f', 'm', 'f']}

In [54]:
df=pd.DataFrame(d)     # Make dict to Dataframe

In [55]:
df

  Name  Age  Marks Gender
0    a   10     12      M
1    b   20     13      f
2    c   30     67      m
3    d   40     55      f
4    e   50     99      f
5    f   60     34      f
6    g   70     98      m
7    h   80     70      f

In [56]:
df.iloc[3:6,0:4]    # iloc for integer indexing

  Name  Age  Marks Gender
3    d   40     55      f
4    e   50     99      f
5    f   60     34      f

In [57]:
df.iloc[6:8,:2:4]

  Name
6    g
7    h

In [58]:
df=df.set_index(df["Name"])

In [59]:
# df.drop(columns=["Name"],inplace=True)

In [60]:
df

     Name  Age  Marks Gender
Name
a       a   10     12      M
b       b   20     13      f
c       c   30     67      m
d       d   40     55      f
e       e   50     99      f
f       f   60     34      f
g       g   70     98      m
h       h   80     70      f

In [61]:
df.reset_index(columns=["Name"],inplace=True)

TypeError: reset_index() got an unexpected keyword argument 'columns'

In [62]:
df.loc["d":"f"]   # loc for string indexing

     Name  Age  Marks Gender
Name
d       d   40     55      f
e       e   50     99      f
f       f   60     34      f

In [63]:
df.loc["d":"f","Marks"] # read single colom

Name
d    55
e    99
f    34
Name: Marks, dtype: int64

In [64]:
df.loc["d":"f","Age":"Marks"]  # Read multi coloms

      Age  Marks
Name
d      40     55
e      50     99
f      60     34

In [65]:
D=pd.date_range("01-01-2022",periods=33)

In [66]:
D

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02'],
              dtype='datetime64[ns]', freq='D')

In [67]:
Dates=pd.DataFrame(D)

In [68]:
Dates

            0
0  2022-01-01
1  2022-01-02
2  2022-01-03
3  2022-01-04
4  2022-01-05
5  2022-01-06
6  2022-01-07
7  2022-01-08
8  2022-01-09
9  2022-01-10
10 2022-01-11
11 2022-01-12
12 2022-01-13
13 2022-01-14
14 2022-01-15
15 2022-01-16
16 2022-01-17
17 2022-01-18
18 2022-01-19
19 2022-01-20
20 2022-01-21
21 2022-01-22
22 2022-01-23
23 2022-01-24
24 2022-01-25
25 2022-01-26
26 2022-01-27
27 2022-01-28
28 2022-01-29
29 2022-01-30
30 2022-01-31
31 2022-02-01
32 2022-02-02

In [69]:
Dates.rename(columns={0:"Date"},inplace=True)

In [70]:
y=list(range(1,34))
y

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33]

In [71]:
Dates["serial_no"]=pd.Series(y)  # Add row

In [72]:
Dates

         Date  serial_no
0  2022-01-01          1
1  2022-01-02          2
2  2022-01-03          3
3  2022-01-04          4
4  2022-01-05          5
5  2022-01-06          6
6  2022-01-07          7
7  2022-01-08          8
8  2022-01-09          9
9  2022-01-10         10
10 2022-01-11         11
11 2022-01-12         12
12 2022-01-13         13
13 2022-01-14         14
14 2022-01-15         15
15 2022-01-16         16
16 2022-01-17         17
17 2022-01-18         18
18 2022-01-19         19
19 2022-01-20         20
20 2022-01-21         21
21 2022-01-22         22
22 2022-01-23         23
23 2022-01-24         24
24 2022-01-25         25
25 2022-01-26         26
26 2022-01-27         27
27 2022-01-28         28
28 2022-01-29         29
29 2022-01-30         30
30 2022-01-31         31
31 2022-02-01         32
32 2022-02-02         33

In [73]:
df=pd.DataFrame({'Age':[12,np.nan,14,np.nan,400,12,13,24,12,23],'Height':[130,np.nan,133,145,123,np.nan,np.nan,np.nan,120,121],'Gender':['Male',np.nan,"Male",'Female','Female','Female','Male',np.nan,'Male','Male']})

In [74]:
df

     Age  Height  Gender
0   12.0   130.0    Male
1    NaN     NaN     NaN
2   14.0   133.0    Male
3    NaN   145.0  Female
4  400.0   123.0  Female
5   12.0     NaN  Female
6   13.0     NaN    Male
7   24.0     NaN     NaN
8   12.0   120.0    Male
9   23.0   121.0    Male

In [75]:
df.isnull().sum()

Age       2
Height    4
Gender    2
dtype: int64

In [76]:
df.shape

(10, 3)

In [77]:
df.shape[0]

10

In [78]:
df.isnull().sum()/df.shape[0]*(100)

Age       20.0
Height    40.0
Gender    20.0
dtype: float64

In [79]:
df["Age"].mean()

63.75

In [80]:
df["Age"].median()

13.5

In [81]:
df["Age"]=df["Age"].fillna(df["Age"].median())

In [82]:
df

     Age  Height  Gender
0   12.0   130.0    Male
1   13.5     NaN     NaN
2   14.0   133.0    Male
3   13.5   145.0  Female
4  400.0   123.0  Female
5   12.0     NaN  Female
6   13.0     NaN    Male
7   24.0     NaN     NaN
8   12.0   120.0    Male
9   23.0   121.0    Male

In [83]:
df.isnull().sum()

Age       0
Height    4
Gender    2
dtype: int64

In [84]:
df["Height"].mean()

128.66666666666666

In [85]:
df["Height"].median()

126.5

In [86]:
df["Height"]=df["Height"].fillna(df["Height"].mean())

In [87]:
df["Gender"].mode()

0    Male
dtype: object

In [88]:
df["Gender"].fillna(df["Gender"].mode()[0],inplace=True)

In [89]:
df.isna().sum()

Age       0
Height    0
Gender    0
dtype: int64

In [90]:
df

     Age      Height  Gender
0   12.0  130.000000    Male
1   13.5  128.666667    Male
2   14.0  133.000000    Male
3   13.5  145.000000  Female
4  400.0  123.000000  Female
5   12.0  128.666667  Female
6   13.0  128.666667    Male
7   24.0  128.666667    Male
8   12.0  120.000000    Male
9   23.0  121.000000    Male

# #seaborn

In [91]:
import seaborn as sns

In [92]:
df=sns.load_dataset("iris")

In [93]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [94]:
df.shape

(150, 5)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [96]:
import pandas as pd

In [97]:
df["sepal_length"]=df["sepal_length"].astype(int)    # change type of data

In [98]:
df

     sepal_length  sepal_width  petal_length  petal_width     species
0               5          3.5           1.4          0.2      setosa
1               4          3.0           1.4          0.2      setosa
2               4          3.2           1.3          0.2      setosa
3               4          3.1           1.5          0.2      setosa
4               5          3.6           1.4          0.2      setosa
5               5          3.9           1.7          0.4      setosa
6               4          3.4           1.4          0.3      setosa
7               5          3.4           1.5          0.2      setosa
8               4          2.9           1.4          0.2      setosa
9               4          3.1           1.5          0.1      setosa
10              5          3.7           1.5          0.2      setosa
11              4          3.4           1.6          0.2      setosa
12              4          3.0           1.4          0.1      setosa
13              4          3.0           1.1          0.1      setosa
14              5          4.0           1.2          0.2      setosa
15              5          4.4           1.5          0.4      setosa
16              5          3.9           1.3          0.4      setosa
17              5          3.5           1.4          0.3      setosa
18              5          3.8           1.7          0.3      setosa
19              5          3.8           1.5          0.3      setosa
20              5          3.4           1.7          0.2      setosa
21              5          3.7           1.5          0.4      setosa
22              4          3.6           1.0          0.2      setosa
23              5          3.3           1.7          0.5      setosa
24              4          3.4           1.9          0.2      setosa
25              5          3.0           1.6          0.2      setosa
26              5          3.4           1.6          0.4      setosa
27              5          3.5           1.5          0.2      setosa
28              5          3.4           1.4          0.2      setosa
29              4          3.2           1.6          0.2      setosa
30              4          3.1           1.6          0.2      setosa
31              5          3.4           1.5          0.4      setosa
32              5          4.1           1.5          0.1      setosa
33              5          4.2           1.4          0.2      setosa
34              4          3.1           1.5          0.2      setosa
35              5          3.2           1.2          0.2      setosa
36              5          3.5           1.3          0.2      setosa
37              4          3.6           1.4          0.1      setosa
38              4          3.0           1.3          0.2      setosa
39              5          3.4           1.5          0.2      setosa
40              5          3.5           1.3          0.3      setosa
41              4          2.3           1.3          0.3      setosa
42              4          3.2           1.3          0.2      setosa
43              5          3.5           1.6          0.6      setosa
44              5          3.8           1.9          0.4      setosa
45              4          3.0           1.4          0.3      setosa
46              5          3.8           1.6          0.2      setosa
47              4          3.2           1.4          0.2      setosa
48              5          3.7           1.5          0.2      setosa
49              5          3.3           1.4          0.2      setosa
50              7          3.2           4.7          1.4  versicolor
51              6          3.2           4.5          1.5  versicolor
52              6          3.1           4.9          1.5  versicolor
53              5          2.3           4.0          1.3  versicolor
54              6          2.8           4.6          1.5  versicolor
55              5          2.8           4.5          1.3  versicolor
56              6          3.3           4.7          1.6  versicolor
57              4          2.4           3.3          1.0  versicolor
58              6          2.9           4.6          1.3  versicolor
59              5          2.7           3.9          1.4  versicolor
60              5          2.0           3.5          1.0  versicolor
61              5          3.0           4.2          1.5  versicolor
62              6          2.2           4.0          1.0  versicolor
63              6          2.9           4.7          1.4  versicolor
64              5          2.9           3.6          1.3  versicolor
65              6          3.1           4.4          1.4  versicolor
66              5          3.0           4.5          1.5  versicolor
67              5          2.7           4.1          1.0  versicolor
68              6          2.2           4.5          1.5  versicolor
69              5          2.5           3.9          1.1  versicolor
70              5          3.2           4.8          1.8  versicolor
71              6          2.8           4.0          1.3  versicolor
72              6          2.5           4.9          1.5  versicolor
73              6          2.8           4.7          1.2  versicolor
74              6          2.9           4.3          1.3  versicolor
75              6          3.0           4.4          1.4  versicolor
76              6          2.8           4.8          1.4  versicolor
77              6          3.0           5.0          1.7  versicolor
78              6          2.9           4.5          1.5  versicolor
79              5          2.6           3.5          1.0  versicolor
80              5          2.4           3.8          1.1  versicolor
81              5          2.4           3.7          1.0  versicolor
82              5          2.7           3.9          1.2  versicolor
83              6          2.7           5.1          1.6  versicolor
84              5          3.0           4.5          1.5  versicolor
85              6          3.4           4.5          1.6  versicolor
86              6          3.1           4.7          1.5  versicolor
87              6          2.3           4.4          1.3  versicolor
88              5          3.0           4.1          1.3  versicolor
89              5          2.5           4.0          1.3  versicolor
90              5          2.6           4.4          1.2  versicolor
91              6          3.0           4.6          1.4  versicolor
92              5          2.6           4.0          1.2  versicolor
93              5          2.3           3.3          1.0  versicolor
94              5          2.7           4.2          1.3  versicolor
95              5          3.0           4.2          1.2  versicolor
96              5          2.9           4.2          1.3  versicolor
97              6          2.9           4.3          1.3  versicolor
98              5          2.5           3.0          1.1  versicolor
99              5          2.8           4.1          1.3  versicolor
100             6          3.3           6.0          2.5   virginica
101             5          2.7           5.1          1.9   virginica
102             7          3.0           5.9          2.1   virginica
103             6          2.9           5.6          1.8   virginica
104             6          3.0           5.8          2.2   virginica
105             7          3.0           6.6          2.1   virginica
106             4          2.5           4.5          1.7   virginica
107             7          2.9           6.3          1.8   virginica
108             6          2.5           5.8          1.8   virginica
109             7          3.6           6.1          2.5   virginica
110             6          3.2           5.1          2.0   virginica
111             6          2.7           5.3          1.9   virginica
112             6          3.0           5.5          2.1   virginica
113             5          2.5           5.0          2.0   virginica
114             5          2.8           5.1          2.4   virginica
115             6          3.2           5.3          2.3   virginica
116             6          3.0           5.5          1.8   virginica
117             7          3.8           6.7          2.2   virginica
118             7          2.6           6.9          2.3   virginica
119             6          2.2           5.0          1.5   virginica
120             6          3.2           5.7          2.3   virginica
121             5          2.8           4.9          2.0   virginica
122             7          2.8           6.7          2.0   virginica
123             6          2.7           4.9          1.8   virginica
124             6          3.3           5.7          2.1   virginica
125             7          3.2           6.0          1.8   virginica
126             6          2.8           4.8          1.8   virginica
127             6          3.0           4.9          1.8   virginica
128             6          2.8           5.6          2.1   virginica
129             7          3.0           5.8          1.6   virginica
130             7          2.8           6.1          1.9   virginica
131             7          3.8           6.4          2.0   virginica
132             6          2.8           5.6          2.2   virginica
133             6          2.8           5.1          1.5   virginica
134             6          2.6           5.6          1.4   virginica
135             7          3.0           6.1          2.3   virginica
136             6          3.4           5.6          2.4   virginica
137             6          3.1           5.5          1.8   virginica
138             6          3.0           4.8          1.8   virginica
139             6          3.1           5.4          2.1   virginica
140             6          3.1           5.6          2.4   virginica
141             6          3.1           5.1          2.3   virginica
142             5          2.7           5.1          1.9   virginica
143             6          3.2           5.9          2.3   virginica
144             6          3.3           5.7          2.5   virginica
145             6          3.0           5.2          2.3   virginica
146             6          2.5           5.0          1.9   virginica
147             6          3.0           5.2          2.0   virginica
148             6          3.4           5.4          2.3   virginica
149             5          3.0           5.1          1.8   virginica

In [99]:
df.info()                                     # info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    int32
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(3), int32(1), object(1)
memory usage: 5.4+ KB

In [100]:
df.describe()                                     # describe

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.386667     3.057333      3.758000     1.199333
std        0.841752     0.435866      1.765298     0.762238
min        4.000000     2.000000      1.000000     0.100000
25%        5.000000     2.800000      1.600000     0.300000
50%        5.000000     3.000000      4.350000     1.300000
75%        6.000000     3.300000      5.100000     1.800000
max        7.000000     4.400000      6.900000     2.500000

In [101]:
df.describe(include="object")                                # search object

          species
count         150
unique          3
top     virginica
freq           50

In [102]:
df["species"].value_counts()                               # count value

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [103]:
df["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [104]:
df["species"]=df["species"].astype("category")               # making category

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    int32
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    category
dtypes: category(1), float64(3), int32(1)
memory usage: 4.5 KB

In [106]:
for i in df:
    if "species" in df:
        print(i)

sepal_length
sepal_width
petal_length
petal_width
species

In [107]:
l=[]
for i in df["species"]:
    c=0
    for j in i:
        c+=1
    l.append(c)
print(l)

[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]

In [108]:
df["s_length"]=pd.Series(l)

In [109]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,s_length
0,5,3.5,1.4,0.2,setosa,6
1,4,3.0,1.4,0.2,setosa,6
2,4,3.2,1.3,0.2,setosa,6
3,4,3.1,1.5,0.2,setosa,6
4,5,3.6,1.4,0.2,setosa,6
5,5,3.9,1.7,0.4,setosa,6
6,4,3.4,1.4,0.3,setosa,6
7,5,3.4,1.5,0.2,setosa,6
8,4,2.9,1.4,0.2,setosa,6
9,4,3.1,1.5,0.1,setosa,6
10,5,3.7,1.5,0.2,setosa,6
11,4,3.4,1.6,0.2,setosa,6
12,4,3.0,1.4,0.1,setosa,6
13,4,3.0,1.1,0.1,setosa,6
14,5,4.0,1.2,0.2,setosa,6
15,5,4.4,1.5,0.4,setosa,6
16,5,3.9,1.3,0.4,setosa,6
17,5,3.5,1.4,0.3,setosa,6
18,5,3.8,1.7,0.3,setosa,6
19,5,3.8,1.5,0.3,setosa,6
20,5,3.4,1.7,0.2,setosa,6
21,5,3.7,1.5,0.4,setosa,6
22,4,3.6,1.0,0.2,setosa,6
23,5,3.3,1.7,0.5,setosa,6
24,4,3.4,1.9,0.2,setosa,6
25,5,3.0,1.6,0.2,setosa,6
26,5,3.4,1.6,0.4,setosa,6
27,5,3.5,1.5,0.2,setosa,6
28,5,3.4,1.4,0.2,setosa,6
29,4,3.2,1.6,0.2,setosa,6
30,4,3.1,1.6,0.2,setosa,6
31,5,3.4,1.5,0.4,setosa,6
32,5,4.1,1.5,0.1,setosa,6
33,5,4.2,1.4,0.2,setosa,6
34,4,3.1,1.5,0.2,setosa,6
35,5,3.2,1.2,0.2,setosa,6
36,5,3.5,1.3,0.2,setosa,6
37,4,3.6,1.4,0.1,setosa,6
38,4,3.0,1.3,0.2,setosa,6
39,5,3.4,1.5,0.2,setosa,6
40,5,3.5,1.3,0.3,setosa,6
41,4,2.3,1.3,0.3,setosa,6
42,4,3.2,1.3,0.2,setosa,6
43,5,3.5,1.6,0.6,setosa,6
44,5,3.8,1.9,0.4,setosa,6
45,4,3.0,1.4,0.3,setosa,6
46,5,3.8,1.6,0.2,setosa,6
47,4,3.2,1.4,0.2,setosa,6
48,5,3.7,1.5,0.2,setosa,6
49,5,3.3,1.4,0.2,setosa,6
50,7,3.2,4.7,1.4,versicolor,10
51,6,3.2,4.5,1.5,versicolor,10
52,6,3.1,4.9,1.5,versicolor,10
53,5,2.3,4.0,1.3,versicolor,10
54,6,2.8,4.6,1.5,versicolor,10
55,5,2.8,4.5,1.3,versicolor,10
56,6,3.3,4.7,1.6,versicolor,10
57,4,2.4,3.3,1.0,versicolor,10
58,6,2.9,4.6,1.3,versicolor,10
59,5,2.7,3.9,1.4,versicolor,10
60,5,2.0,3.5,1.0,versicolor,10
61,5,3.0,4.2,1.5,versicolor,10
62,6,2.2,4.0,1.0,versicolor,10
63,6,2.9,4.7,1.4,versicolor,10
64,5,2.9,3.6,1.3,versicolor,10
65,6,3.1,4.4,1.4,versicolor,10
66,5,3.0,4.5,1.5,versicolor,10
67,5,2.7,4.1,1.0,versicolor,10
68,6,2.2,4.5,1.5,versicolor,10
69,5,2.5,3.9,1.1,versicolor,10
70,5,3.2,4.8,1.8,versicolor,10
71,6,2.8,4.0,1.3,versicolor,10
72,6,2.5,4.9,1.5,versicolor,10
73,6,2.8,4.7,1.2,versicolor,10
74,6,2.9,4.3,1.3,versicolor,10
75,6,3.0,4.4,1.4,versicolor,10
76,6,2.8,4.8,1.4,versicolor,10
77,6,3.0,5.0,1.7,versicolor,10
78,6,2.9,4.5,1.5,versicolor,10
79,5,2.6,3.5,1.0,versicolor,10
80,5,2.4,3.8,1.1,versicolor,10
81,5,2.4,3.7,1.0,versicolor,10
82,5,2.7,3.9,1.2,versicolor,10
83,6,2.7,5.1,1.6,versicolor,10
84,5,3.0,4.5,1.5,versicolor,10
85,6,3.4,4.5,1.6,versicolor,10
86,6,3.1,4.7,1.5,versicolor,10
87,6,2.3,4.4,1.3,versicolor,10
88,5,3.0,4.1,1.3,versicolor,10
89,5,2.5,4.0,1.3,versicolor,10
90,5,2.6,4.4,1.2,versicolor,10
91,6,3.0,4.6,1.4,versicolor,10
92,5,2.6,4.0,1.2,versicolor,10
93,5,2.3,3.3,1.0,versicolor,10
94,5,2.7,4.2,1.3,versicolor,10
95,5,3.0,4.2,1.2,versicolor,10
96,5,2.9,4.2,1.3,versicolor,10
97,6,2.9,4.3,1.3,versicolor,10
98,5,2.5,3.0,1.1,versicolor,10
99,5,2.8,4.1,1.3,versicolor,10
100,6,3.3,6.0,2.5,virginica,9
101,5,2.7,5.1,1.9,virginica,9
102,7,3.0,5.9,2.1,virginica,9
103,6,2.9,5.6,1.8,virginica,9
104,6,3.0,5.8,2.2,virginica,9
105,7,3.0,6.6,2.1,virginica,9
106,4,2.5,4.5,1.7,virginica,9
107,7,2.9,6.3,1.8,virginica,9
108,6,2.5,5.8,1.8,virginica,9
109,7,3.6,6.1,2.5,virginica,9
110,6,3.2,5.1,2.0,virginica,9
111,6,2.7,5.3,1.9,virginica,9
112,6,3.0,5.5,2.1,virginica,9
113,5,2.5,5.0,2.0,virginica,9
114,5,2.8,5.1,2.4,virginica,9
115,6,3.2,5.3,2.3,virginica,9
116,6,3.0,5.5,1.8,virginica,9
117,7,3.8,6.7,2.2,virginica,9
118,7,2.6,6.9,2.3,virginica,9
119,6,2.2,5.0,1.5,virginica,9
120,6,3.2,5.7,2.3,virginica,9
121,5,2.8,4.9,2.0,virginica,9
122,7,2.8,6.7,2.0,virginica,9
123,6,2.7,4.9,1.8,virginica,9
124,6,3.3,5.7,2.1,virginica,9
125,7,3.2,6.0,1.8,virginica,9
126,6,2.8,4.8,1.8,virginica,9
127,6,3.0,4.9,1.8,virginica,9
128,6,2.8,5.6,2.1,virginica,9
129,7,3.0,5.8,1.6,virginica,9
130,7,2.8,6.1,1.9,virginica,9
131,7,3.8,6.4,2.0,virginica,9
132,6,2.8,5.6,2.2,virginica,9
133,6,2.8,5.1,1.5,virginica,9
134,6,2.6,5.6,1.4,virginica,9
135,7,3.0,6.1,2.3,virginica,9
136,6,3.4,5.6,2.4,virginica,9
137,6,3.1,5.5,1.8,virginica,9
138,6,3.0,4.8,1.8,virginica,9
139,6,3.1,5.4,2.1,virginica,9
140,6,3.1,5.6,2.4,virginica,9
141,6,3.1,5.1,2.3,virginica,9
142,5,2.7,5.1,1.9,virginica,9
143,6,3.2,5.9,2.3,virginica,9
144,6,3.3,5.7,2.5,virginica,9
145,6,3.0,5.2,2.3,virginica,9
146,6,2.5,5.0,1.9,virginica,9
147,6,3.0,5.2,2.0,virginica,9
148,6,3.4,5.4,2.3,virginica,9
149,5,3.0,5.1,1.8,virginica,9

In [110]:
df["s_len"]=df["species"].apply(lambda x: len(x))

In [111]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,s_length,s_len
0,5,3.5,1.4,0.2,setosa,6,6
1,4,3.0,1.4,0.2,setosa,6,6
2,4,3.2,1.3,0.2,setosa,6,6
3,4,3.1,1.5,0.2,setosa,6,6
4,5,3.6,1.4,0.2,setosa,6,6
5,5,3.9,1.7,0.4,setosa,6,6
6,4,3.4,1.4,0.3,setosa,6,6
7,5,3.4,1.5,0.2,setosa,6,6
8,4,2.9,1.4,0.2,setosa,6,6
9,4,3.1,1.5,0.1,setosa,6,6
10,5,3.7,1.5,0.2,setosa,6,6
11,4,3.4,1.6,0.2,setosa,6,6
12,4,3.0,1.4,0.1,setosa,6,6
13,4,3.0,1.1,0.1,setosa,6,6
14,5,4.0,1.2,0.2,setosa,6,6
15,5,4.4,1.5,0.4,setosa,6,6
16,5,3.9,1.3,0.4,setosa,6,6
17,5,3.5,1.4,0.3,setosa,6,6
18,5,3.8,1.7,0.3,setosa,6,6
19,5,3.8,1.5,0.3,setosa,6,6
20,5,3.4,1.7,0.2,setosa,6,6
21,5,3.7,1.5,0.4,setosa,6,6
22,4,3.6,1.0,0.2,setosa,6,6
23,5,3.3,1.7,0.5,setosa,6,6
24,4,3.4,1.9,0.2,setosa,6,6
25,5,3.0,1.6,0.2,setosa,6,6
26,5,3.4,1.6,0.4,setosa,6,6
27,5,3.5,1.5,0.2,setosa,6,6
28,5,3.4,1.4,0.2,setosa,6,6
29,4,3.2,1.6,0.2,setosa,6,6
30,4,3.1,1.6,0.2,setosa,6,6
31,5,3.4,1.5,0.4,setosa,6,6
32,5,4.1,1.5,0.1,setosa,6,6
33,5,4.2,1.4,0.2,setosa,6,6
34,4,3.1,1.5,0.2,setosa,6,6
35,5,3.2,1.2,0.2,setosa,6,6
36,5,3.5,1.3,0.2,setosa,6,6
37,4,3.6,1.4,0.1,setosa,6,6
38,4,3.0,1.3,0.2,setosa,6,6
39,5,3.4,1.5,0.2,setosa,6,6
40,5,3.5,1.3,0.3,setosa,6,6
41,4,2.3,1.3,0.3,setosa,6,6
42,4,3.2,1.3,0.2,setosa,6,6
43,5,3.5,1.6,0.6,setosa,6,6
44,5,3.8,1.9,0.4,setosa,6,6
45,4,3.0,1.4,0.3,setosa,6,6
46,5,3.8,1.6,0.2,setosa,6,6
47,4,3.2,1.4,0.2,setosa,6,6
48,5,3.7,1.5,0.2,setosa,6,6
49,5,3.3,1.4,0.2,setosa,6,6
50,7,3.2,4.7,1.4,versicolor,10,10
51,6,3.2,4.5,1.5,versicolor,10,10
52,6,3.1,4.9,1.5,versicolor,10,10
53,5,2.3,4.0,1.3,versicolor,10,10
54,6,2.8,4.6,1.5,versicolor,10,10
55,5,2.8,4.5,1.3,versicolor,10,10
56,6,3.3,4.7,1.6,versicolor,10,10
57,4,2.4,3.3,1.0,versicolor,10,10
58,6,2.9,4.6,1.3,versicolor,10,10
59,5,2.7,3.9,1.4,versicolor,10,10
60,5,2.0,3.5,1.0,versicolor,10,10
61,5,3.0,4.2,1.5,versicolor,10,10
62,6,2.2,4.0,1.0,versicolor,10,10
63,6,2.9,4.7,1.4,versicolor,10,10
64,5,2.9,3.6,1.3,versicolor,10,10
65,6,3.1,4.4,1.4,versicolor,10,10
66,5,3.0,4.5,1.5,versicolor,10,10
67,5,2.7,4.1,1.0,versicolor,10,10
68,6,2.2,4.5,1.5,versicolor,10,10
69,5,2.5,3.9,1.1,versicolor,10,10
70,5,3.2,4.8,1.8,versicolor,10,10
71,6,2.8,4.0,1.3,versicolor,10,10
72,6,2.5,4.9,1.5,versicolor,10,10
73,6,2.8,4.7,1.2,versicolor,10,10
74,6,2.9,4.3,1.3,versicolor,10,10
75,6,3.0,4.4,1.4,versicolor,10,10
76,6,2.8,4.8,1.4,versicolor,10,10
77,6,3.0,5.0,1.7,versicolor,10,10
78,6,2.9,4.5,1.5,versicolor,10,10
79,5,2.6,3.5,1.0,versicolor,10,10
80,5,2.4,3.8,1.1,versicolor,10,10
81,5,2.4,3.7,1.0,versicolor,10,10
82,5,2.7,3.9,1.2,versicolor,10,10
83,6,2.7,5.1,1.6,versicolor,10,10
84,5,3.0,4.5,1.5,versicolor,10,10
85,6,3.4,4.5,1.6,versicolor,10,10
86,6,3.1,4.7,1.5,versicolor,10,10
87,6,2.3,4.4,1.3,versicolor,10,10
88,5,3.0,4.1,1.3,versicolor,10,10
89,5,2.5,4.0,1.3,versicolor,10,10
90,5,2.6,4.4,1.2,versicolor,10,10
91,6,3.0,4.6,1.4,versicolor,10,10
92,5,2.6,4.0,1.2,versicolor,10,10
93,5,2.3,3.3,1.0,versicolor,10,10
94,5,2.7,4.2,1.3,versicolor,10,10
95,5,3.0,4.2,1.2,versicolor,10,10
96,5,2.9,4.2,1.3,versicolor,10,10
97,6,2.9,4.3,1.3,versicolor,10,10
98,5,2.5,3.0,1.1,versicolor,10,10
99,5,2.8,4.1,1.3,versicolor,10,10
100,6,3.3,6.0,2.5,virginica,9,9
101,5,2.7,5.1,1.9,virginica,9,9
102,7,3.0,5.9,2.1,virginica,9,9
103,6,2.9,5.6,1.8,virginica,9,9
104,6,3.0,5.8,2.2,virginica,9,9
105,7,3.0,6.6,2.1,virginica,9,9
106,4,2.5,4.5,1.7,virginica,9,9
107,7,2.9,6.3,1.8,virginica,9,9
108,6,2.5,5.8,1.8,virginica,9,9
109,7,3.6,6.1,2.5,virginica,9,9
110,6,3.2,5.1,2.0,virginica,9,9
111,6,2.7,5.3,1.9,virginica,9,9
112,6,3.0,5.5,2.1,virginica,9,9
113,5,2.5,5.0,2.0,virginica,9,9
114,5,2.8,5.1,2.4,virginica,9,9
115,6,3.2,5.3,2.3,virginica,9,9
116,6,3.0,5.5,1.8,virginica,9,9
117,7,3.8,6.7,2.2,virginica,9,9
118,7,2.6,6.9,2.3,virginica,9,9
119,6,2.2,5.0,1.5,virginica,9,9
120,6,3.2,5.7,2.3,virginica,9,9
121,5,2.8,4.9,2.0,virginica,9,9
122,7,2.8,6.7,2.0,virginica,9,9
123,6,2.7,4.9,1.8,virginica,9,9
124,6,3.3,5.7,2.1,virginica,9,9
125,7,3.2,6.0,1.8,virginica,9,9
126,6,2.8,4.8,1.8,virginica,9,9
127,6,3.0,4.9,1.8,virginica,9,9
128,6,2.8,5.6,2.1,virginica,9,9
129,7,3.0,5.8,1.6,virginica,9,9
130,7,2.8,6.1,1.9,virginica,9,9
131,7,3.8,6.4,2.0,virginica,9,9
132,6,2.8,5.6,2.2,virginica,9,9
133,6,2.8,5.1,1.5,virginica,9,9
134,6,2.6,5.6,1.4,virginica,9,9
135,7,3.0,6.1,2.3,virginica,9,9
136,6,3.4,5.6,2.4,virginica,9,9
137,6,3.1,5.5,1.8,virginica,9,9
138,6,3.0,4.8,1.8,virginica,9,9
139,6,3.1,5.4,2.1,virginica,9,9
140,6,3.1,5.6,2.4,virginica,9,9
141,6,3.1,5.1,2.3,virginica,9,9
142,5,2.7,5.1,1.9,virginica,9,9
143,6,3.2,5.9,2.3,virginica,9,9
144,6,3.3,5.7,2.5,virginica,9,9
145,6,3.0,5.2,2.3,virginica,9,9
146,6,2.5,5.0,1.9,virginica,9,9
147,6,3.0,5.2,2.0,virginica,9,9
148,6,3.4,5.4,2.3,virginica,9,9
149,5,3.0,5.1,1.8,virginica,9,9

In [112]:
df["Upper_species"]=df["species"].apply(lambda x: x.upper() if x.islower() else x.upper())

In [113]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,s_length,s_len,Upper_species
0,5,3.5,1.4,0.2,setosa,6,6,SETOSA
1,4,3.0,1.4,0.2,setosa,6,6,SETOSA
2,4,3.2,1.3,0.2,setosa,6,6,SETOSA
3,4,3.1,1.5,0.2,setosa,6,6,SETOSA
4,5,3.6,1.4,0.2,setosa,6,6,SETOSA
5,5,3.9,1.7,0.4,setosa,6,6,SETOSA
6,4,3.4,1.4,0.3,setosa,6,6,SETOSA
7,5,3.4,1.5,0.2,setosa,6,6,SETOSA
8,4,2.9,1.4,0.2,setosa,6,6,SETOSA
9,4,3.1,1.5,0.1,setosa,6,6,SETOSA
10,5,3.7,1.5,0.2,setosa,6,6,SETOSA
11,4,3.4,1.6,0.2,setosa,6,6,SETOSA
12,4,3.0,1.4,0.1,setosa,6,6,SETOSA
13,4,3.0,1.1,0.1,setosa,6,6,SETOSA
14,5,4.0,1.2,0.2,setosa,6,6,SETOSA
15,5,4.4,1.5,0.4,setosa,6,6,SETOSA
16,5,3.9,1.3,0.4,setosa,6,6,SETOSA
17,5,3.5,1.4,0.3,setosa,6,6,SETOSA
18,5,3.8,1.7,0.3,setosa,6,6,SETOSA
19,5,3.8,1.5,0.3,setosa,6,6,SETOSA
20,5,3.4,1.7,0.2,setosa,6,6,SETOSA
21,5,3.7,1.5,0.4,setosa,6,6,SETOSA
22,4,3.6,1.0,0.2,setosa,6,6,SETOSA
23,5,3.3,1.7,0.5,setosa,6,6,SETOSA
24,4,3.4,1.9,0.2,setosa,6,6,SETOSA
25,5,3.0,1.6,0.2,setosa,6,6,SETOSA
26,5,3.4,1.6,0.4,setosa,6,6,SETOSA
27,5,3.5,1.5,0.2,setosa,6,6,SETOSA
28,5,3.4,1.4,0.2,setosa,6,6,SETOSA
29,4,3.2,1.6,0.2,setosa,6,6,SETOSA
30,4,3.1,1.6,0.2,setosa,6,6,SETOSA
31,5,3.4,1.5,0.4,setosa,6,6,SETOSA
32,5,4.1,1.5,0.1,setosa,6,6,SETOSA
33,5,4.2,1.4,0.2,setosa,6,6,SETOSA
34,4,3.1,1.5,0.2,setosa,6,6,SETOSA
35,5,3.2,1.2,0.2,setosa,6,6,SETOSA
36,5,3.5,1.3,0.2,setosa,6,6,SETOSA
37,4,3.6,1.4,0.1,setosa,6,6,SETOSA
38,4,3.0,1.3,0.2,setosa,6,6,SETOSA
39,5,3.4,1.5,0.2,setosa,6,6,SETOSA
40,5,3.5,1.3,0.3,setosa,6,6,SETOSA
41,4,2.3,1.3,0.3,setosa,6,6,SETOSA
42,4,3.2,1.3,0.2,setosa,6,6,SETOSA
43,5,3.5,1.6,0.6,setosa,6,6,SETOSA
44,5,3.8,1.9,0.4,setosa,6,6,SETOSA
45,4,3.0,1.4,0.3,setosa,6,6,SETOSA
46,5,3.8,1.6,0.2,setosa,6,6,SETOSA
47,4,3.2,1.4,0.2,setosa,6,6,SETOSA
48,5,3.7,1.5,0.2,setosa,6,6,SETOSA
49,5,3.3,1.4,0.2,setosa,6,6,SETOSA
50,7,3.2,4.7,1.4,versicolor,10,10,VERSICOLOR
51,6,3.2,4.5,1.5,versicolor,10,10,VERSICOLOR
52,6,3.1,4.9,1.5,versicolor,10,10,VERSICOLOR
53,5,2.3,4.0,1.3,versicolor,10,10,VERSICOLOR
54,6,2.8,4.6,1.5,versicolor,10,10,VERSICOLOR
55,5,2.8,4.5,1.3,versicolor,10,10,VERSICOLOR
56,6,3.3,4.7,1.6,versicolor,10,10,VERSICOLOR
57,4,2.4,3.3,1.0,versicolor,10,10,VERSICOLOR
58,6,2.9,4.6,1.3,versicolor,10,10,VERSICOLOR
59,5,2.7,3.9,1.4,versicolor,10,10,VERSICOLOR
60,5,2.0,3.5,1.0,versicolor,10,10,VERSICOLOR
61,5,3.0,4.2,1.5,versicolor,10,10,VERSICOLOR
62,6,2.2,4.0,1.0,versicolor,10,10,VERSICOLOR
63,6,2.9,4.7,1.4,versicolor,10,10,VERSICOLOR
64,5,2.9,3.6,1.3,versicolor,10,10,VERSICOLOR
65,6,3.1,4.4,1.4,versicolor,10,10,VERSICOLOR
66,5,3.0,4.5,1.5,versicolor,10,10,VERSICOLOR
67,5,2.7,4.1,1.0,versicolor,10,10,VERSICOLOR
68,6,2.2,4.5,1.5,versicolor,10,10,VERSICOLOR
69,5,2.5,3.9,1.1,versicolor,10,10,VERSICOLOR
70,5,3.2,4.8,1.8,versicolor,10,10,VERSICOLOR
71,6,2.8,4.0,1.3,versicolor,10,10,VERSICOLOR
72,6,2.5,4.9,1.5,versicolor,10,10,VERSICOLOR
73,6,2.8,4.7,1.2,versicolor,10,10,VERSICOLOR
74,6,2.9,4.3,1.3,versicolor,10,10,VERSICOLOR
75,6,3.0,4.4,1.4,versicolor,10,10,VERSICOLOR
76,6,2.8,4.8,1.4,versicolor,10,10,VERSICOLOR
77,6,3.0,5.0,1.7,versicolor,10,10,VERSICOLOR
78,6,2.9,4.5,1.5,versicolor,10,10,VERSICOLOR
79,5,2.6,3.5,1.0,versicolor,10,10,VERSICOLOR
80,5,2.4,3.8,1.1,versicolor,10,10,VERSICOLOR
81,5,2.4,3.7,1.0,versicolor,10,10,VERSICOLOR
82,5,2.7,3.9,1.2,versicolor,10,10,VERSICOLOR
83,6,2.7,5.1,1.6,versicolor,10,10,VERSICOLOR
84,5,3.0,4.5,1.5,versicolor,10,10,VERSICOLOR
85,6,3.4,4.5,1.6,versicolor,10,10,VERSICOLOR
86,6,3.1,4.7,1.5,versicolor,10,10,VERSICOLOR
87,6,2.3,4.4,1.3,versicolor,10,10,VERSICOLOR
88,5,3.0,4.1,1.3,versicolor,10,10,VERSICOLOR
89,5,2.5,4.0,1.3,versicolor,10,10,VERSICOLOR
90,5,2.6,4.4,1.2,versicolor,10,10,VERSICOLOR
91,6,3.0,4.6,1.4,versicolor,10,10,VERSICOLOR
92,5,2.6,4.0,1.2,versicolor,10,10,VERSICOLOR
93,5,2.3,3.3,1.0,versicolor,10,10,VERSICOLOR
94,5,2.7,4.2,1.3,versicolor,10,10,VERSICOLOR
95,5,3.0,4.2,1.2,versicolor,10,10,VERSICOLOR
96,5,2.9,4.2,1.3,versicolor,10,10,VERSICOLOR
97,6,2.9,4.3,1.3,versicolor,10,10,VERSICOLOR
98,5,2.5,3.0,1.1,versicolor,10,10,VERSICOLOR
99,5,2.8,4.1,1.3,versicolor,10,10,VERSICOLOR
100,6,3.3,6.0,2.5,virginica,9,9,VIRGINICA
101,5,2.7,5.1,1.9,virginica,9,9,VIRGINICA
102,7,3.0,5.9,2.1,virginica,9,9,VIRGINICA
103,6,2.9,5.6,1.8,virginica,9,9,VIRGINICA
104,6,3.0,5.8,2.2,virginica,9,9,VIRGINICA
105,7,3.0,6.6,2.1,virginica,9,9,VIRGINICA
106,4,2.5,4.5,1.7,virginica,9,9,VIRGINICA
107,7,2.9,6.3,1.8,virginica,9,9,VIRGINICA
108,6,2.5,5.8,1.8,virginica,9,9,VIRGINICA
109,7,3.6,6.1,2.5,virginica,9,9,VIRGINICA
110,6,3.2,5.1,2.0,virginica,9,9,VIRGINICA
111,6,2.7,5.3,1.9,virginica,9,9,VIRGINICA
112,6,3.0,5.5,2.1,virginica,9,9,VIRGINICA
113,5,2.5,5.0,2.0,virginica,9,9,VIRGINICA
114,5,2.8,5.1,2.4,virginica,9,9,VIRGINICA
115,6,3.2,5.3,2.3,virginica,9,9,VIRGINICA
116,6,3.0,5.5,1.8,virginica,9,9,VIRGINICA
117,7,3.8,6.7,2.2,virginica,9,9,VIRGINICA
118,7,2.6,6.9,2.3,virginica,9,9,VIRGINICA
119,6,2.2,5.0,1.5,virginica,9,9,VIRGINICA
120,6,3.2,5.7,2.3,virginica,9,9,VIRGINICA
121,5,2.8,4.9,2.0,virginica,9,9,VIRGINICA
122,7,2.8,6.7,2.0,virginica,9,9,VIRGINICA
123,6,2.7,4.9,1.8,virginica,9,9,VIRGINICA
124,6,3.3,5.7,2.1,virginica,9,9,VIRGINICA
125,7,3.2,6.0,1.8,virginica,9,9,VIRGINICA
126,6,2.8,4.8,1.8,virginica,9,9,VIRGINICA
127,6,3.0,4.9,1.8,virginica,9,9,VIRGINICA
128,6,2.8,5.6,2.1,virginica,9,9,VIRGINICA
129,7,3.0,5.8,1.6,virginica,9,9,VIRGINICA
130,7,2.8,6.1,1.9,virginica,9,9,VIRGINICA
131,7,3.8,6.4,2.0,virginica,9,9,VIRGINICA
132,6,2.8,5.6,2.2,virginica,9,9,VIRGINICA
133,6,2.8,5.1,1.5,virginica,9,9,VIRGINICA
134,6,2.6,5.6,1.4,virginica,9,9,VIRGINICA
135,7,3.0,6.1,2.3,virginica,9,9,VIRGINICA
136,6,3.4,5.6,2.4,virginica,9,9,VIRGINICA
137,6,3.1,5.5,1.8,virginica,9,9,VIRGINICA
138,6,3.0,4.8,1.8,virginica,9,9,VIRGINICA
139,6,3.1,5.4,2.1,virginica,9,9,VIRGINICA
140,6,3.1,5.6,2.4,virginica,9,9,VIRGINICA
141,6,3.1,5.1,2.3,virginica,9,9,VIRGINICA
142,5,2.7,5.1,1.9,virginica,9,9,VIRGINICA
143,6,3.2,5.9,2.3,virginica,9,9,VIRGINICA
144,6,3.3,5.7,2.5,virginica,9,9,VIRGINICA
145,6,3.0,5.2,2.3,virginica,9,9,VIRGINICA
146,6,2.5,5.0,1.9,virginica,9,9,VIRGINICA
147,6,3.0,5.2,2.0,virginica,9,9,VIRGINICA
148,6,3.4,5.4,2.3,virginica,9,9,VIRGINICA
149,5,3.0,5.1,1.8,virginica,9,9,VIRGINICA

In [114]:

df1=pd.DataFrame({'A':['A0','A1','A2','A3'],
             'B':['B0','B1','B2','B3'],
             'C':['C0','C1','C2','C3'],
             'D':['D0','D1','D2','D3']},index=[0,1,2,3])




df2=pd.DataFrame({'A':['A4','A5','A6','A7'],
             'B':['B4','B5','B6','B7'],
             'C':['C4','C5','C6','C7'],
             'D':['D4','D5','D6','D7']},index=[4,5,6,7])


df3=pd.DataFrame({'A':['A8','A9','A10','A11'],
             'B':['B8','B9','B10','B11'],
             'C':['C8','C9','C10','C11'],
             'D':['D8','D9','D10','D11']},index=[8,9,10,11])


df4=pd.DataFrame({'E':['E0','E1','E2','E3'],
             'F':['F0','F1','F2','F3'],
             'G':['G0','G1','G2','G3'],
             'H':['H0','H1','H2','H3']})

In [115]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [116]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [117]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [118]:
df4

    E   F   G   H
0  E0  F0  G0  H0
1  E1  F1  G1  H1
2  E2  F2  G2  H2
3  E3  F3  G3  H3

In [119]:
Df=pd.concat([df1,df2,df3],axis=0)

In [120]:
Df

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [121]:
DF=pd.concat([df1,df4],axis=1)

In [122]:
DF

    A   B   C   D   E   F   G   H
0  A0  B0  C0  D0  E0  F0  G0  H0
1  A1  B1  C1  D1  E1  F1  G1  H1
2  A2  B2  C2  D2  E2  F2  G2  H2
3  A3  B3  C3  D3  E3  F3  G3  H3

In [123]:
x=pd.DataFrame({'Key':['k0','k8','k2','k3'],
      'A':['A0','A1','A2','A3'],
      'B':['B0','B1','B2','B3']})


y=pd.DataFrame({'Key':['k0','k1','k2','k3'],
       'C':['C0','C1','C2','C3'],
       'D':['D0','D1','D2','D3']})

In [124]:
x

  Key   A   B
0  k0  A0  B0
1  k8  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [125]:
y

  Key   C   D
0  k0  C0  D0
1  k1  C1  D1
2  k2  C2  D2
3  k3  C3  D3

In [126]:
pd.merge(x,y,how="left",on="Key")

  Key   A   B    C    D
0  k0  A0  B0   C0   D0
1  k8  A1  B1  NaN  NaN
2  k2  A2  B2   C2   D2
3  k3  A3  B3   C3   D3

In [127]:
pd.merge(x,y,how="right",on="Key")

  Key    A    B   C   D
0  k0   A0   B0  C0  D0
1  k1  NaN  NaN  C1  D1
2  k2   A2   B2  C2  D2
3  k3   A3   B3  C3  D3

In [128]:
pd.merge(x,y,how="inner",on="Key")

  Key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k2  A2  B2  C2  D2
2  k3  A3  B3  C3  D3

In [129]:
pd.merge(x,y,how="outer",on="Key")

  Key    A    B    C    D
0  k0   A0   B0   C0   D0
1  k8   A1   B1  NaN  NaN
2  k2   A2   B2   C2   D2
3  k3   A3   B3   C3   D3
4  k1  NaN  NaN   C1   D1