In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

In [3]:
df=pd.read_csv("pokemon.csv")

In [4]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      359 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [6]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [7]:
df.describe(include="object")

           Name Type 1  Type 2
count       800    800     359
unique      800     18      18
top     Moltres  Water  Flying
freq          1    112      81

In [8]:
df.shape

(800, 12)

In [9]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        441
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [10]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [12]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [13]:
df.isnull().sum()/df.shape[0]*100

#              0.000
Name           0.000
Type 1         0.000
Type 2        55.125
HP             0.000
Attack         0.000
Defense        0.000
Sp. Atk        0.000
Sp. Def        0.000
Speed          0.000
Generation     0.000
Legendary      0.000
dtype: float64

In [14]:
# df.drop(columns=["Type 2","#"],inplace=True)

In [15]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [16]:
df.shape

(800, 12)

In [17]:
len(df["Type 1"].unique())

18

In [18]:
for i in df["Name"]:
    print(i)

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
FlabÃ©bÃ©
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

In [19]:
df[["Name","HP","Attack"]][400:411]

                        Name   HP  Attack
400                  Walrein  110      80
401                 Clamperl   35      64
402                  Huntail   55     104
403                 Gorebyss   55      84
404                Relicanth  100      90
405                  Luvdisc   43      30
406                    Bagon   45      75
407                  Shelgon   65      95
408                Salamence   95     135
409  SalamenceMega Salamence   95     145
410                   Beldum   40      55

In [20]:
df.iloc[9]

#                    7
Name          Squirtle
Type 1           Water
Type 2             NaN
HP                  44
Attack              48
Defense             65
Sp. Atk             50
Sp. Def             64
Speed               43
Generation           1
Legendary        False
Name: 9, dtype: object

In [21]:
df.iloc[10:16]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False

In [22]:
df.iloc[11,0]

9

In [23]:
df.iloc[30:46,0:2].iloc[1:2,0]

31    26
Name: #, dtype: int64

In [24]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [25]:
df[["Legendary","Type 1"]].value_counts()

Legendary  Type 1
False      Water       108
           Normal       96
           Bug          69
           Grass        67
           Fire         47
           Psychic      43
           Electric     40
           Rock         40
           Ghost        30
           Dark         29
           Poison       28
           Ground       28
           Fighting     27
           Steel        23
           Ice          22
           Dragon       20
           Fairy        16
True       Psychic      14
           Dragon       12
           Fire          5
           Ground        4
           Steel         4
           Rock          4
           Water         4
           Electric      4
           Grass         3
           Ghost         2
False      Flying        2
True       Ice           2
           Normal        2
           Dark          2
           Flying        2
           Fairy         1
dtype: int64

In [26]:
q=df[df["Legendary"]==True]
q["Type 1"].value_counts()

Psychic     14
Dragon      12
Fire         5
Ground       4
Electric     4
Rock         4
Steel        4
Water        4
Grass        3
Ice          2
Dark         2
Ghost        2
Flying       2
Normal       2
Fairy        1
Name: Type 1, dtype: int64

In [27]:
df[df["Type 1"]=="Fire"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [28]:
df[df["Type 1"]=="Fire"].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [29]:
df.sort_values(["Name"])                              # ascending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,NaN,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [30]:
df.sort_values(["Name"]).reset_index()             # then reset index

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
1,511,460,AbomasnowMega Abomasnow,Grass,NaN,90,132,105,132,105,30,4,False
2,68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
3,392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
4,393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
796,631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
797,46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
798,695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
799,794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [31]:
df.sort_values(["Name"],ascending=False)                      # descending order

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,NaN,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [32]:
df.sort_values(["Type 1","Attack"],ascending=[True,False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

In [33]:
df.sort_values(["Type 1","Attack"],ascending=[True,True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False

In [38]:
df["Total"]=df.iloc[:,2:8].sum(axis=1)     # add new row + sum

In [35]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [36]:
# col=list(df.columns)

In [91]:
# col

In [92]:
# df=df[col[0:2]+[col[-1]]+col[2:10]]                    # arrange columns

In [93]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,208
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,265
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,345
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,425
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,400
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,480
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,400
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,470
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,440

In [94]:
mon=df.drop(columns=["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"])

In [95]:
mon

       #                   Name   Type 1  Type 2  Generation  Legendary  Total
0      1              Bulbasaur    Grass  Poison           1      False    208
1      2                Ivysaur    Grass  Poison           1      False    265
2      3               Venusaur    Grass  Poison           1      False    345
3      3  VenusaurMega Venusaur    Grass  Poison           1      False    425
4      4             Charmander     Fire     NaN           1      False    194
..   ...                    ...      ...     ...         ...        ...    ...
795  719                Diancie     Rock   Fairy           6       True    400
796  719    DiancieMega Diancie     Rock   Fairy           6       True    480
797  720    HoopaHoopa Confined  Psychic   Ghost           6       True    400
798  720     HoopaHoopa Unbound  Psychic    Dark           6       True    470
799  721              Volcanion     Fire   Water           6       True    440

[800 rows x 7 columns]

In [96]:
mon.to_csv("new_pok.csv",index=False)                       # New file create ( CSV )

In [97]:
mon

       #                   Name   Type 1  Type 2  Generation  Legendary  Total
0      1              Bulbasaur    Grass  Poison           1      False    208
1      2                Ivysaur    Grass  Poison           1      False    265
2      3               Venusaur    Grass  Poison           1      False    345
3      3  VenusaurMega Venusaur    Grass  Poison           1      False    425
4      4             Charmander     Fire     NaN           1      False    194
..   ...                    ...      ...     ...         ...        ...    ...
795  719                Diancie     Rock   Fairy           6       True    400
796  719    DiancieMega Diancie     Rock   Fairy           6       True    480
797  720    HoopaHoopa Confined  Psychic   Ghost           6       True    400
798  720     HoopaHoopa Unbound  Psychic    Dark           6       True    470
799  721              Volcanion     Fire   Water           6       True    440

[800 rows x 7 columns]

In [98]:
df[(df["Type 1"]=="Grass") | (df["Legendary"]==True)]           #  | = Or operator

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,208
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,265
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,345
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,425
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,400
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,480
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,400
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,470
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,440

In [99]:
df[(df["Type 1"]=="Grass") & (df["Legendary"]==True)]                               # & = and opreator

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,400
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,398
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True,343

In [100]:
df.iloc[np.where((df["HP"]==min(df["HP"]))  |  (df["Attack"]==max(df["Attack"])))]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,550
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False,166

In [101]:
df[(df["Type 1"]=="Grass") & (df["Generation"]==6)&(df["Attack"]>100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
720,652,Chesnaught,Grass,NaN,88,107,122,74,75,64,6,False,391

In [102]:
df[df["Type 1"]=="Water"]="Aqua"

In [103]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Aqua', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)